img{
    width: 400px;
    height: 400px;
  }
.spaceLeft{
    margin-left: 80px;
}
.spaceL{
  margin-left: 50px;
}
.spaceLeft1{
  margin-left: 20px;
}

.marginTopNeg{
  margin-top: -60px;
}

.marginTop{
  margin-top: 15px;
}


